.NavBotton {
    background-color:grey;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
}

.NavBody {
    display: flex;
    position: relative;

}

.NavContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
    z-index: 1;
}
.NavContentWrapper{
    display: flex;

}
.NavItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #6170ff;
}

.NavItem:hover {background-color: #ddd;}

.NavBody:hover .NavContent {display: block;}

.NavBody:hover .NavBotton {background-color: #3e8e41;}
